.loginform {
    padding: 10px;
}

.logger{
    border: 1px solid black;
    height: 30px;
    padding-top: 5px;
    background-color: powderblue;
}

.line {
    padding: 10px;
}

.signup-button {
  padding: 20px 0 0 70px;
}