<article class="review">

  <header>
      <h4>Product ID: <%= review.product_id %></h4>
  </header>

  <span>By User: <%= review.user_id %></span>

  <p class="description">
    <%= review.description %>
  </p>

  <span>Rating: <%= review.rating %></span>

</article>